
@using Portal.Web.Areas.App.Models.Common.Modals
@using Portal.Web.Areas.App.Models.SystemDataDefinitions
@model SystemDataDefinitionViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="SystemDataDefinitionInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DefTypeId") :</h6>
                @Model.SystemDataDefinition.DefTypeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DefValue") :</h6>
                @Model.SystemDataDefinition.DefValue
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DefParentId") :</h6>
                @Model.SystemDataDefinition.DefParentId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EntityId") :</h6>
                @Model.SystemDataDefinition.EntityId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")